{% load static %}
<div id="about" class="section">

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="aboutImage" src="{% static 'Photos/pic.jpg' %}" alt=""></img>
            </div>
            <div class="col-md-7">
                <h4>About Me</h4>
                <p>
                    Hello there! My name is Robert McFarlin. I am the Corporate Controller for RCM Industries, Inc. RCM
                    is
                    a multi-location aluminum die casting manufacturer. I have 8 years of accounting experience and
                    am intensely focused on process automation. I graduated from USC Upstate with a bachelors in
                    Business
                    Administration and then went on to Stetson University to earn a Master's of Accountancy.

                </p>
                <p>
                    I am currently learning web development and this website is where I will document my progress.
                    Thanks for stopping by and please reach out with any suggestions for improvement!
                </p>
            </div>

        </div>
    </div>


</div>