{% load static %}
<div id="slides">

    <div class="overlay"></div>

    <div class="slides-container">
        <img src="{% static 'Photos/image1.jpg' %}" alt="">
        <img src="{% static 'Photos/image2.jpg' %}" alt="">
        <img src="{% static 'Photos/image3.jpg' %}" alt="">
    </div>

    <div class="titleMessage">
        <div class="heading">
            <p class="main">ROBERT MCFARLIN</p>
            <p class="sub typed"></p>
        </div>
    </div>


    <nav class="slides-navigation">
        <a href="#" class="next"></a>
        <a href="#" class="prev"></a>
    </nav>


</div>