<div id="stats" class="statsSection section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="header-spacing">STATS</h1>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="squareItem">
                    <div class="squareInnerContainer">
                        <div class="squareIcon">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                        <div class="squareContent">
                            <h2 class="counter">{{ yearAcct }}</h2>
                            <h3>Years of Experience</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="squareItem">
                    <div class="squareInnerContainer">
                        <div class="squareIcon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="squareContent">
                            <h2 class="counter">2</h2>
                            <h3>Avg. Days to Close</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="squareItem">
                    <div class="squareInnerContainer">
                        <div class="squareIcon">
                            <i class="fas fa-industry"></i>
                        </div>
                        <div class="squareContent">
                            <h2 class="counter">6</h2>
                            <h3>Divisions Overseen</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="squareItem">
                    <div class="squareInnerContainer">
                        <div class="squareIcon">
                            <i class="fas fa-code"></i>
                        </div>
                        <div class="squareContent">
                            <h2 class="counter">2</h2>
                            <h3>Coding Languages</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>