{% load static %}

<div id="values">

    <div class="overlay"></div>

    <div class="slides-container">
        <img src="{% static 'Photos/progress.jpg' %}" alt="">
        <img src="{% static 'Photos/night.jpg' %}" alt="">
        <img src="{% static 'Photos/bike.jpg' %}" alt="">
        <img src="{% static 'Photos/cloudy.jpg' %}" alt="">
    </div>

    <div class="titleMessage">
        <div class="heading">
            <p class="mainValues">MY VALUES</p>
            <p class="subValues values"></p>
        </div>
    </div>


    <nav class="slides-navigation">
        <a href="#" class="next"></a>
        <a href="#" class="prev"></a>
    </nav>

</div>